body {
  margin: 0;
  padding: 0;
}
main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
header {
  margin-top: 2rem;
  max-width: 800px;
  width: 100%;
}
#editor {
  max-width: 800px;
  width: 100%;
}
.ProseMirror {
  border: 1px solid #222;
  font-family: "Quattrocento", serif;
  max-width: 50rem;
  min-height: 140px;
  overflow-wrap: break-word;
  outline: none;
  padding: 0 1rem;
  margin: 2rem 0;
  white-space: pre-wrap;
}
.block {
  display: grid;
  grid-template-columns: 64px auto 56px;
  position: relative;
}
p {
  margin: 1rem 0 0 0;
}
